<!DOCTYPE html><html lang="en"><head>
  <!-- The first thing in any HTML file should be the charset -->
  <meta charset="utf-8">

  <!-- Make the page mobile compatible -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Allow installing the app to the homescreen -->
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="icon" href="/favicon.ico">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2c3f4b">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&amp;display=swap" rel="stylesheet">
  <title>Chad - HRMI Rights Tracker</title>
  <meta property="og:url" content="https://rightstracker.org">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Chad - HRMI Rights Tracker">
  <meta property="og:description" content="Rights Tracker: Measuring the human rights performance of countries. Explore human rights scores across countries, rights, and people. From the Human Rights Measurement Initiative (HRMI).">
  <meta property="og:image" content="http://content-store.humanrightsmeasurement.org/assets/uploads/country_TCD.png">
  <base href="/">
</head>

<body>
  <!-- Display a message if JS has been disabled on the browser. -->
  <noscript>If you're seeing this message, that means
    <strong>JavaScript has been disabled on your browser</strong>, please
    <strong>enable JS</strong> to make this app work.</noscript>

  <!-- The app hooks into this div -->
  <div id="app"></div>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/react-vis/dist/style.css">
  <!-- A lot of magic happens in this file. HtmlWebpackPlugin automatically injects all assets (e.g. bundle.js, main.css) with the correct HTML tags, which is why they are missing in this file. Don't add any assets here! (Check out webpack.dev.babel.js and webpack.prod.babel.js if you want to know more) -->


</body></html>